@font-face {
    font-family: 'Varela Round';
    src: url('fonts/VarelaRound-Regular.woff2') format('woff2'),
        url('fonts/VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --background:#2f2f2f;
    --gridColor: #44cf6c;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
    background-color: var(--background);
    color: #ffffff;
}

