@font-face {
    font-family: 'Varela Round';
    src: url('fonts/VarelaRound-Regular.woff2') format('woff2'),
        url('fonts/VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --background:#2f2f2f;
    --gridColor: #BBDFC5;
    --gridBorder: #3D5A45;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
    background-color: var(--background);
    color: #ffffff;
}

.title{
    text-align: center;
    padding-top: 2.5rem;
}

.main-container{
    display: flex;
    justify-content: center;
}

.main-container .game-grid{
    background-color: var(--gridColor);
    width: 500px;
    height: 500px;
    border-radius: 12px;
    margin-top: 3rem;
}

.game-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: #2B2D2F;
}

.cell{
    display: flex;
    border-left: 2px solid var(--gridBorder);
    border-top: 2px solid var(--gridBorder);
    align-items: center;
    justify-content: center;
    
}
.cell:nth-child(-n+3){
    border-top: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}


